{
  "presets": [
    "es2017",
    "react",
    "airbnb"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "api": "./imports/api",
          "lib": "./imports/lib",
          "server": "./imports/server",
          "startup": "./imports/startup",
          "ui": "./imports/ui"
        }
      }
    ]
  ]
}
