{
  "installedESLint": true,
  "parser" : "babel-eslint",
  "parserOptions" : {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
  },
  "import/resolver": {
    "meteor": {},
    "babel-module": {},
  },
  "import/core-modules": [ "meteor/" ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended",
  ],
  "plugins": [
    "react",
    'meteor',
    "compat"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "meteor": true,
    "mongo": true,
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "class-methods-use-this": 0,
    "comma-dangle": [2, "never"],
    "compat/compat": 2,
    "curly": [2, "all"],
    "func-names": 0,
    "import/extensions": [0, 'always', {js: 'never', jsx: 'never'}],
    "import/first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [0, { "ignore": ["^meteor/"] }],
    "import/prefer-default-export": 1,
    "indent": [2, 2, {"SwitchCase": 1 }],
    "key-spacing": [2, { "align": "colon" }],
    "keyword-spacing": 0,
    "linebreak-style": 1,
    "max-len": [1, 120],
    "meteor/audit-argument-checks": 0,
    "no-case-declarations": 0,
    "no-cond-assign": 2,
    "no-console": [1, {"allow": ["warn", "error"] }],
    "no-param-reassign": 2,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, { "args": "all", "varsIgnorePattern": "[mM]eteor" }],
    "no-use-before-define": [2, { "functions": false, "classes": true }],
    "padding-blocks": 0,
    "prefer-destructuring": [2, { "array": false, "object": true }, {"enforceForRenamedProperties": false}],
    "prefer-spread": 2,
    "prefer-arrow-callback": 1,
    "react/no-danger": 1,
    "react/no-find-dom-node": 1,
    "react/no-string-refs": 2,
    "react/no-unused-prop-types": 1,
    "react/prop-types": 1,
    "react/sort-comp": 1,
    "space-before-function-paren": 1
  }
}
